@model IEnumerable<LivrariaMHS.Models.Attributes.Categoria>

@{
    ViewData["Title"] = "CATEGORIAS";
}

<p><h1>@ViewData["Title"]</h1></p>
<hr />
<p> <a asp-action="Create" class="btn btn-outline-success mr-sm-5 col-2">Novo</a> </p>
<hr />
<div class="col-md-auto">
    <dl class="row" >
        @foreach (var item in Model)
        {
            <dt class="col-sm-2">
                @Html.DisplayFor(modelItem => item.Nome)
            </dt>
            <dd class="col-sm-10">
                <a asp-action="Details" asp-route-id="@item.ID" class="badge badge-pill badge-info">Detalhes</a> /
                <a asp-action="Edit" asp-route-id="@item.ID" class="badge badge-pill badge-info">Editar</a> /
                <a asp-action="Delete" asp-route-id="@item.ID" class="badge badge-pill badge-info">Deletar</a>
            </dd>
        }
        </dl>
</div>
