@model IEnumerable<Livro>
@using System.IO

<div class="container">
    @if (@TempData["Concluido"] != null)
    {
        <span class="text-success col-2">@TempData["Concluido"] </span><hr />
    }
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <figure class="card card-product">
                    <div class="img-big-wrap"><img src="@Url.Action("GetFoto", "Livros", new { id = item.ID })" style="width:100%;height:100%"></div>
                    <figcaption class="info-wrap">
                        <h6 class="title">
                            @if (item.Titulo.Length <= 45) {
                                @Html.DisplayFor(modelItem => item.Titulo)
                            } else {
                                item.Titulo = item.Titulo.Substring(0, 43) + "...";
                                @Html.DisplayFor(modelitem => item.Titulo)
                                     
                            }
                        </h6>
                        <p class="desc">@Html.DisplayFor(modelItem => item.Autor.Nome)</p>
                        <div class="rating-wrap">
                            <div class="label-rating">@Html.DisplayFor(modelItem => item.Edicao)ª  edição  </div>
                            <div class="label-rating">@Html.DisplayFor(modelItem => item.Paginas) páginas</div>
                        </div>
                    </figcaption>
                    <div class="bottom-wrap">
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-danger float-right">Apagar</a>
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-warning float-right mr-sm-2">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-sm btn-primary float-right  mr-sm-2">Detalhes</a>
                        <div class="price-wrap h5">
                            <span class="price-new">R$@Html.DisplayFor(modelItem => item.Preco)</span>
                        </div>
                    </div>
                </figure>

            </div>
        }
    </div>
    @if (!Model.Any())
    {
        <span class="text-danger col-2">Nenhum Livro Encontrado... </span>
        <hr />
    }
</div>

