@model IEnumerable<LivrariaMHS.Models.Attributes.Livro>

@{
    ViewData["Title"] = "LIVROS";
}

<p><h1>@ViewData["Title"]</h1></p>

<div class="panel panel-primary">
    <div class="panel-heading">
        <form asp-action="Index" class="form form-inline">
            <input class="form form-control float-left mr-sm-3 col-4" type="text" name="pesquisa" id="pesquisa" placeholder="BUSCAR LIVRO" value=@ViewData["pesquisa"]>
            <button class="float-left btn btn-outline-warning my-4 col-2 mr-sm-3" type="submit">Filtrar</button>
            <a asp-action="Create" class="btn btn-outline-success col-2">Novo</a>
        </form>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead class="table-primary">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Titulo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Autor.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Paginas)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Edicao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ano)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Preco)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-dark">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Titulo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Autor.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Paginas)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Edicao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ano)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Preco)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.ID" class="badge badge-pill badge-info">Detalhes</a> /
                            <a asp-action="Edit" asp-route-id="@item.ID" class="badge badge-pill badge-info">Editar</a> /
                            <a asp-action="Delete" asp-route-id="@item.ID" class="badge badge-pill badge-info">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
