@model IEnumerable<Cliente>

@{
    ViewData["Title"] = "CLIENTES";
}

<main>
    <div class="panel panel-primary">
        <hr />
        <h1>@ViewData["Title"]</h1>
        <div class="panel-heading">
            <form asp-action="Index" class="form form-inline">
                <input class="form form-control float-left mr-sm-n5 col-4" type="text" name="pesquisa" id="pesquisa" placeholder="PESQUISAR CLIENTE" value=@ViewData["pesquisa"]>
                <button class="btn form-control btn-warning btn-group my-4 col-1-24 mr-sm-3" type="submit"><i class="fa fa-search"></i></button>
                <a asp-action="Create" class="btn btn-facebook col-2">Novo</a>
            </form>
        </div>
        <div class="panel-body">
            @if (@TempData["Concluido"] != null)
            {
                <p><span class="text-success col-2">@TempData["Concluido"] </span></p>
            }
        </div>
        <table class="table">
            <thead class="table-secondary">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sexo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Telefone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CPF)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="table-dark">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sexo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CPF)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID" class="badge badge-pill badge-info">Editar</a> /
                            <a asp-action="Details" asp-route-id="@item.ID" class="badge badge-pill badge-info">Detalhes</a> /
                            <a asp-action="Delete" asp-route-id="@item.ID" class="badge badge-pill badge-info">Apagar</a>
                        </td>
                    </tr>
                }
                @if (!Model.Any())
                {
                    <tr>
                        <td class="text-danger" colspan="7"> NENHUM CLIENTE ENCONTRADO... </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</main>